body, html {
    margin: 0;
    padding: 0;
    background: rgb(52,73,85);
    background: linear-gradient(90deg, rgba(52,73,85,1) 0%, rgba(35,47,52,1) 100%);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uyari-ver {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uyari-ver-png {
    background: url("img/hammer.png");
    width: 268px;
    height: 320px;
    background-size: cover;
}

.uyari-ver-text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 15px;
    color: #fff;
}

.uyari-ver:hover {
    cursor: pointer;
    zoom: 110%;
}

.uyarilar, .uyari-1, .uyari-2, .uyari-3, .banlandin {
    display: none;
    color: #fff;
    font-weight: bold;
}

.uyari-1 {
    font-size: 50px;
}

.uyari-2 {
    font-size: 70px;
}

.uyari-3 {
    font-size: 90px;
}

.banlandin {
    font-size: 120px;
    color: #ef6a6a;
}

.ed-icon {
    background: url("img/edrp.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

.ex-icon {
    background: url("img/icon.png");
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 15px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}